.Recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 3rem 2rem;
  width: 1257px;
  margin: 0 auto;
}

.Recipe {
  background: #fff;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.Recipe-title {
  font-size: 1.6rem;
  margin-bottom: 6px;
}

.Recipe-time {
  color: #b38a8a;
}

.Recipe-description {
  line-height: 1.5;
  color: #7b7b7b;
}

.Recipe-btn {
  background: #532aae;
  padding: 0.5rem 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 2px solid transparent;
}
.Recipe-btn:hover {
  background: transparent;
  color: #000;
  border: 2px solid black;
}

.Recipe-Details {
  background: #fff;
  width: 900px;
  margin: 5rem auto;
  padding: 4rem 1.5rem 2rem 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.Recipe-Details-heading {
  margin-bottom: 1.5rem;
}

.Recipe-Details-description {
  text-align: left;
  padding: 0;
  margin-top: 2rem;
}

.Create-Recipe {
  max-width: 400px;
  margin: 5rem auto 0 auto;
}

.Create-Recipe-heading {
  text-align: center;
  margin-bottom: 1.8rem;
  margin-right: 4.5rem;
}
.Create-Recipe p {
  margin-top: 1.5rem;
}
.Create-Recipe label {
  display: block;
  margin-bottom: 5px;
  color: #7c6a6a;
  font-size: 1.1rem;
}

.Create-Recipe input {
  width: 80%;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}
.Create-Recipe .Create_Recipe-ingredients__input {
  width: 61%;
}
.Create-Recipe-btn__add {
  padding: 0.5rem 1.5rem;
  margin-left: 8px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: #532aae;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.Create-Recipe-btn__add:hover {
  background: teal;
}
.Create-Recipe-ingredients__pargraph {
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
  color: #7c6a6a;
}
.Create-Recipe textarea {
  border: none;
  padding: 0.5rem;
}

.Create-Recipe-btn__submit {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: #532aae;
  transition: all 0.2s linear;
  font-size: 0.9rem;
  cursor: pointer;
}
.Create-Recipe-btn__submit:hover {
  background: #4747e5;
}
